@charset "utf-8";

/* 🚧 RESET (NORMALIZE) DEFAULT STYLES 🚧 */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


/* 🔰 Basic Style 🔰 */

.page {
  --color-main-dark: #333;
  --color-main-ui: #888;
  --font-base: Lato, sans-serif;
  --font-alt: fantasy, cursive;
  --width-base: 500px;

  margin: 0;
  background-color: #f8f8f8;
  color: var(--color-main-dark);
  font-family: var(--font-base);
}

.page-wrapper {
  width: var(--width-base);
  margin: 0 auto;
  padding: 8px 0;
}


/* 👑 Block: Header 👑 */

.header {
  width: 100%;
  padding-bottom: 46px;
  text-align: right;
}

.header__poster {
  display: block;
  width: 100%;
}

.header__info-link {
  font-family: var(--font-alt);
}

@media (max-width: 768px) {

  .header {
    text-align: center;
  }

}


/* 👑 Block: Todo-App 👑 */

.todo-app {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.todo-app__title {
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--color-main-dark);

  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  color: var(--color-main-dark);
}

.todo-app__task-list {
  display: flex;
  flex-direction: column;
  row-gap: 36px;
  margin: 0;
  padding: 19px 0;
  list-style: none;
}

.todo-app__task-wrapper {
  display: flex;
  padding-top: 19px;
  padding-bottom: 17px;
}

.todo-app__task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  overflow: hidden;
  padding: 0;
  border-bottom: 1px solid #eee;
}

.todo-app__label,
.todo-app__input {
  display: inline-block;
  flex-grow: 1;
}

.todo-app__button {
  width: 60px;
  border: 0px;
  background: none;

  font-family: var(--font-base);
  font-size: 15px;
  color: var(--color-main-ui);
  cursor: pointer;
}

.todo-app__button:hover {
  color: #3a3a3a;
}

.todo-app__input {
  display: none;
  height: 21px;
  margin: 0;
  padding: 0 9px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #fff;

  font-family: var(--font-base);
  font-size: 18px;
  line-height: 18px;
  color: var(--color-main-ui);
}

.todo-app__input:focus {
  color: var(--color-main-dark);
}

.todo-app__check {
  margin: 0 10px;
}

.todo-app__label {
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 18px;
}

.todo-app__icon-delete {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.todo-app__icon-delete:hover {
  transform: rotateZ(0);
}

/* ➕ New Task ➕ */

.todo-app__add-task .todo-app__input {
  display: inline-block;
}

/* ✔️ Completed ✔️ */

.todo-app__tasks_done .todo-app__label {
  text-decoration: line-through;
  color: var(--color-main-ui);
}

/* ✒️ Edit Task ✒️ */

.todo-app__task-item_edit .todo-app__input {
  display: inline-block;
}

.todo-app__task-item_edit .todo-app__label {
  display: none;
}
